/* COLORS*/
$yellow : #FFE600;
$black: #333333;
$white: #FFFFFF;
$gray-dark: #666666;
$gray-medium: #999999;
$gray-light: #EEEEEE;
$blue: #3483FA;

/* SIZES */
$max-width-dk : 1200px;
$font-size-base : 16